/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/

/*
	FLEXBOX CONTAINER
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(185, 156, 231);
}

/*
	container styling
*/

.container {
	display: flex;
}

.play-screen-container {
	display: flex;
	border: 2px solid;
	border-radius: 10px;
	height: 500px;
	width: 662px;
	padding: 20px;
	justify-content: center;
	align-items: flex-end;
	background-image: url('file:///Users/octopus/hackReactor/HREXT%2008/hrext08-my-cruddy-app/images/Wheat_Fields_at_Auvers_Under_Clouded_Sky_1890_Vincent_van_Gogh.jpg');
	/* 
	background image: File: Wheat Fields at Auvers Under Clouded Sky 1890 Vincent van Gogh.jpg 
	This work is in the public domain in the United States because it was published (or registered with the U.S. Copyright Office) before January 1, 1924.
	*/
}

.button-container {
	display: flex;
	justify-content: space-around;
	width: 615px;
}

/*
	TABLE STYLING 
*/
table {
	width: 400px;
	margin-left: 30px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

/*
	FORM STYLING 
	TODO: validation checking styling 
*/
form.form {
}

div.form {
}

label, input {
    margin-bottom: 10px;
    width: 125px;
}

label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;

}

button.button {
	margin: 10px;
	padding: 5px 10px 5px 10px;
	background-color: darkslateblue;
	color: goldenrod;
	font-size: 30px;
	cursor: pointer;
}

/* 
	creature styling
*/

#creature {
	display: flex;
	height: 150px;
	width: 150px;
}

#chick {
	height: 100%;
	width: 100%;
	transform: scaleX(-1);
	/*
	Creture image file: chicks-349035_1280.jpg
	Obtained with free for commercial use license.
	https://pixabay.com/service/license/
	*/
}
