/* 
Creature
	by Daniel Kim
*/

/* 
Overall page styling
*/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(185, 156, 231);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
}

/*
	container styling
*/

.container {
	display: flex;
}

.play-screen-container {
	display: flex;
	border: 2px solid;
	border-radius: 10px;
	height: 500px;
	width: 662px;
	padding: 20px;
	justify-content: center;
	align-items: flex-end;
	background-image: url('file:///Users/octopus/hackReactor/HREXT%2008/hrext08-my-cruddy-app/images/Wheat_Fields_at_Auvers_Under_Clouded_Sky_1890_Vincent_van_Gogh.jpg');
	/* 
	background image: File: Wheat Fields at Auvers Under Clouded Sky 1890 Vincent van Gogh.jpg 
	This work is in the public domain in the United States because it was published (or registered with the U.S. Copyright Office) before January 1, 1924.
	*/
}

.button-container {
	display: flex;
	justify-content: space-around;
	width: 615px;
}

/*
	TABLE STYLING 
*/

table {
	width: 400px;
	margin-left: 30px;
}

table,
td {
		font-size: 24px;
}

label, input {
    margin-bottom: 10px;
    width: 125px;
}

label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;
}

/* 
Button Styling
*/

button.button {
	margin: 10px;
	padding: 5px 10px 5px 10px;
	background-color: darkslateblue;
	color: goldenrod;
	font-size: 30px;
	cursor: pointer;
}

/* 
Creature styling
*/

#creature {
	display: flex;
	height: 130px;
	width: 160px;
	padding: 70px;
}

/* 
Image styling
*/

#egg {
	/* 
	needs container height: 130px and width: 160px
	*/
	height: 100%;
	width: 100%;
	transform: scaleX(-1);
	/*
	Egg image obtained with free license, no attribution necessary 
	https://pixabay.com/service/license/
	*/
}

#chick {
	/* 
	needs container height: 150px and width: 150px 
	*/
	height: 100%;
	width: 100%;
	transform: scaleX(-1);
	/*
	Egg image obtained with free license, no attribution necessary 
	https://pixabay.com/service/license/
	*/
}

#adolescent {
	/*
	needs container height: 260px and width: 155px
	*/
	height: 100%;
	width: 100%;
	transform: scaleX(-1);
	/* 
	Adolescent chicken image obtained with free license, no attribution necessary 
	https://pixabay.com/service/license/
	*/
}

#rooster {
	/*
	needs container height: 230px and width: 230px
	*/
	height: 100%;
	width: 100%;
	transform: scaleX(-1);
	/* 
	Rooster image obtained with free license, no attribution necessary 
	https://pixabay.com/service/license/
	*/
}
